<section data-ng-controller="CharactersController">
	<div class="page-header">
		<h1>New Character</h1>
	</div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="book">Book</label>
                    <div class="controls">
                        <select data-ng-model="book" class="form-control" id="book" ng-options="book._id as book.title for book in books" data-placement="Book" required></select>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <label class="control-label" for="introChapter">Chapter Introduced</label>
                    <div class="controls">
                        <input type="number" min="0" max="99" data-ng-model="introChapter" id="introChapter" class="form-control" placeholder="1" required>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <label class="control-label">Name</label>
                    <label class="control-label hidden" for="firstName">First Name</label>
                    <label class="control-label hidden" for="middleName">Middle Name</label>
                    <label class="control-label hidden" for="lastName">Last Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="firstName" id="firstName" class="form-control" placeholder="First" required>
                        <input type="text" data-ng-model="middleName" id="middleName" class="form-control" placeholder="Middle">
                        <input type="text" data-ng-model="lastName" id="lastName" class="form-control" placeholder="Last">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" minlength="1" maxlength="140" data-ng-model="description" id="description" class="form-control"
                               placeholder="A short (140 character or less) description of the character." required>
                    </div>
                    <label class="control-label" for="bio">Character Bio</label>
                    <div class="controls">
                        <textarea type="text" maxlength="maxBioLength" cols="30" rows="10" data-ng-model="bio" id="bio" class="form-control" placeholder=""></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success">
                    <a data-ng-href="#!/characters" class="btn btn-default">
                        <span></span> Cancel
                    </a>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
