<section data-ng-controller="BooksController" data-ng-init="find()">
	<div class="page-header" style="display: inline-block">
		<h1 class="pull-left">Books</h1>
        <a data-ng-href="#!/books/create" class="btn btn-info pull-right">
            <span class="glyphicon glyphicon-plus"></span> New
        </a>
	</div>
    <!-- this is the new search input field -->
    <div class="form-group">
        <input type="text" ng-model="search" typeahead="book as book.title for book in books | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="bookSearch($item)" placeholder="Search Book...">
    </div>
	<div class="list-group">
		<a data-ng-repeat="book in books" data-ng-href="#!/books/{{book._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="book.title | capitalize:true"></h4>
			<h6 data-ng-bind="book.author | capitalize:true"></h6>
			<span data-ng-bind="book.description | capitalize"></span>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-hide="!books.$resolved || books.length">
		No books yet, why don't you <a href="/#!/books/create">create one</a>?
	</div>
</section>
